In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("maestra2.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   FOLIO                        3143 non-null   int64
 1   NOMBRE_COMPLETO              3143 non-null   object
 2   ETNIA                        3143 non-null   object
 3   ANO_INICIO_BECA              3143 non-null   int64
 4   TIPO_BECA                    3143 non-null   object
 5   PROGRAMA                     3143 non-null   object
 6   DISCIPLINA_DOCTORADO         3143 non-null   object
 7   FECHA_TERMINO_DOCTORADO      3143 non-null   object
 8   INICIO_BECA                  3143 non-null   object
 9   FIN_BECA                     3143 non-null   object
 10  Retorno al pa√≠s              3143 non-null   object
 11  PAIS_POSGRADO                3143 non-null   object
 12  ChileDoctorado               3143 non-null   int64
 13  ES_MUJER                     3143 non-null   int64
 14  SEXO_REGISTRADO              3143 non-null   object
 15  COMUNA_ESTABLECIMIENTO       3143 non-null   object
 16  REGION_ESTABLECIMIENTO       3143 non-null   object
 17  GSE_ESTABLECIMIENTO          3143 non-null   object
 18  UNIVERSIDAD_PREGRADO         3143 non-null   object
 19  REGION_UNIVERSIDAD_PREGRADO  3143 non-null   object
 20  ACREDITACION_PREGRADO        3143 non-null   object
 21  ANIOS_ACREDITACION_PREGRADO  3143 non-null   object
 22  PREGRADO_ELITE               3143 non-null   object
 23  INTERSECCION                 3143 non-null   object
 24  AUTHOR_ID                    2704 non-null   float64
 25  SCCOPUS_PRIMERA_PUB_ANO      3143 non-null   object
 26  SCOPUS_N_PUB                 3143 non-null   object
 27  SCOPUS_COUNT                 2704 non-null   float64
 28  SCOPUS_HINDEX                2683 non-null   float64
 29  UNIVERSIDAD_PROGRAMA         3143 non-null   object
 30  QS.OVERALL.ESTIMATED         3143 non-null   object
 31  SHANGHAI.OVERALL.ESTIMATED   2112 non-null   object
 32  ID_UNIVERSIDAD               3109 non-null   float64
 33  SCOPUS_COUNT_DESPUES         3143 non-null   int64
 34  SCOPUS_COUNT_ANTES           3143 non-null   int64
 35  SCOPUS_COUNT_DURANTE         3143 non-null   int64
dtypes: float64(4), int64(7), object(25)
memory usage: 884.1+ KB

In [4]:
df['AUTHOR_ID'].value_counts()

AUTHOR_ID
4.346135e+10    1
5.609543e+10    1
5.702206e+10    1
5.614745e+10    1
5.918786e+10    1
               ..
5.719037e+10    1
5.719362e+10    1
5.721693e+10    1
5.720472e+10    1
5.720468e+10    1
Name: count, Length: 2704, dtype: int64

In [5]:
df_abstracts = pd.read_csv("abstracts.csv")

In [6]:
df_abstracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28953 entries, 0 to 28952
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   author_id          28953 non-null  int64
 1   scopus_id          28904 non-null  float64
 2   title              28438 non-null  object
 3   abstract           27568 non-null  object
 4   keywords           22165 non-null  object
 5   year               28438 non-null  float64
 6   month              28438 non-null  float64
 7   day                28438 non-null  float64
 8   grant_year         26195 non-null  float64
 9   diff_year          25761 non-null  float64
 10  period             25761 non-null  object
 11  publicationname    28437 non-null  object
 12  aggtype            28435 non-null  object
 13  subtype            28438 non-null  object
 14  publicationname.1  28437 non-null  object
 15  citedbycount       28438 non-null  float64
 16  doi                27138 non-null  object
 17  url                28438 non-null  object
dtypes: float64(7), int64(1), object(10)
memory usage: 4.0+ MB

In [7]:
df_authors = pd.read_csv("authors.csv")

In [8]:
df_authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2714 entries, 0 to 2713
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   author_id                 2714 non-null   int64
 1   indexed_name              2714 non-null   object
 2   grant_year                2706 non-null   float64
 3   first_publication_year    2714 non-null   int64
 4   last_publication_year     2714 non-null   int64
 5   document_count            2714 non-null   int64
 6   cited_by_count            2714 non-null   int64
 7   coauthor_count            2557 non-null   float64
 8   h-index                   2707 non-null   float64
 9   subject_areas             2713 non-null   object
 10  affiliation_display_name  2256 non-null   object
 11  affiliation_parent_id     2257 non-null   float64
 12  affiliation_parent_name   2256 non-null   object
 13  affiliation_id            1250 non-null   float64
 14  affiliation_name          1250 non-null   object
 15  affiliation_city          2240 non-null   object
 16  affiliation_country       2250 non-null   object
dtypes: float64(5), int64(5), object(7)
memory usage: 360.6+ KB

In [9]:
total_document_count = df_authors['document_count'].sum()
print(total_document_count)

29549